@keyframes rainbow {
  0%,
  100% {
    color: #7ccdea;
  }
  16% {
    color: #0074d9;
  }
  32% {
    color: #2ecc40;
  }
  48% {
    color: #ffdc00;
  }
  64% {
    color: #b10dc9;
  }
  80% {
    color: #ff4136;
  }
}

.button {
  font-family: 'VT323', monospace;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;

  display: block;

  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  background: transparent;
  border: 0;
}

.button:hover {
  animation: rainbow 2s infinite;
}
