html,
body,
#root {
  height: 100%;
}

body {
  background: #03001b;
  background: radial-gradient(
      circle at center,
      #d22dad,
      rgba(255, 255, 255, 0) 40%
    ),
    url('./images/lines.png') no-repeat center center, url('./images/stars.jpg');
  background-size: auto, cover, 250px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
